* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: 'Fjalla One', sans-serif;
    font-size: 0.8rem;
  }
  
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column; 
    margin: 0 50px 0 50px;
    padding: 15px;
    border: 1px solid #0088cc; 
  }

  .sound-clips{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-around;
    border: 5px rgba(168, 17, 17, 0.678);
    background-color: #0088cc;
    height: 540px;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
  }

.clip{

  background-color: #a1b7c2;
  height: 110px;
  width: 460px;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.sounds{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.buttons{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  margin-right : 10px;
  width: 195px;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.rec:active{
  background-color: black;
}

.play {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 50px;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 30px 0 30px 60px;
}

.stop {
  width: 60px;
  height: 60px;
  background-color: #202020;
  border: 0;
}

.rec{
  display:block;
  height: 60px;
  width: 60px;
  background-color: red;
  border-radius: 50%;
  border: 3px solid #202020;
}


.keys{
  display: flex;
  margin: 20px;
}
.key{
    width: 40px;
    height: 40px;
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    border: #fff 1px solid;
    transition: border-color 0.02s ease;
}
.keyactive{
  width: 40px;
  height: 40px;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 10px;
  border: #fff 1px solid;
  transition: border-color 0.02s ease;
  border-color: #a81919;
}  